<div class="sidebar" [class.expanded]="sidebarService.isExpanded$ | async">
  <div class="sidebar-content">
    <ul class="nav flex-column main-menu">
      <!-- 1. الرئيسية -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span>{{ 'HOME.TITLE' | translate }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span>{{ 'MENU.DASHBOARD' | translate }}</span>
        </a>
      </li>

      <!-- 2. مشاهدة الحضور -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/attendance/view-attendance']" routerLinkActive="active">
          <i class="fas fa-table-list"></i>
          <span>{{ 'MENU.ATTENDANCE' | translate }}</span>
        </a>
      </li>

      <!-- 3. تطبيق موجود -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mobile-and-app/mawjood-app']" routerLinkActive="active">
          <i class="fa fa-mobile-alt"></i>
          <span>{{ 'MENU.MAWJOOD_APP' | translate }}</span>
        </a>
      </li>

      <!-- 4. التقارير -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reports']" routerLinkActive="active">
          <i class="fa fa fa-print"></i>
          <span>{{ 'MENU.REPORTS' | translate }}</span>
        </a>
      </li>

      <!-- 5. بيانات الحضور -->
      <li class="nav-item" routerLinkActive="active">
        <div [routerLink]="['/attendance']">
          <a class="nav-link" (click)="toggleSubmenu('attendance')" [class.expanded]="isSubmenuOpen('attendance')">
            <i class="fa-regular fa-check-square"></i>
            <span class="ps-1">{{ 'MENU.ATTENDANCE_DATA' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>

        <ul class="nav flex-column submenu ps-3" [class.show]="isSubmenuOpen('attendance')">
          <li><a class="nav-link" [routerLink]="['/attendance/punch-in-transactions']"
              routerLinkActive="active"><span>{{ 'MENU.ATTENDANCE_DATA_SECTIONS.PUNCH_TRANSACTION' | translate }}</span></a></li>
          <li><a class="nav-link" [routerLink]="['/attendance/view-attendance']" routerLinkActive="active">
            <span>{{ 'MENU.ATTENDANCE_DATA_SECTIONS.ATTENDANCE' | translate }}</span></a></li>
          <li><a class="nav-link" [routerLink]="['/attendance/change-attendance-time']"
              routerLinkActive="active"><span>{{ 'MENU.ATTENDANCE_DATA_SECTIONS.CHANGE_ATTENDANCE_TIME' | translate }}</span></a></li>
        </ul>
      </li> 

      <!-- 6. فترات الدوام -->
      <li class="nav-item">
        <div [routerLink]="['/shifts-section']">
          <a class="nav-link" (click)="toggleSubmenu('shifts')" [class.expanded]="isSubmenuOpen('shifts')">
            <i class="fa-regular fa-calendar-days"></i>
            <span class="ps-1">{{ 'MENU.SHIFTS' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="nav flex-column submenu ps-3" [class.show]="isSubmenuOpen('shifts')">
          <li><a class="nav-link" [routerLink]="['/shifts-section/shifts']" routerLinkActive="active">{{ 'MENU.SHIFTS_SECTIONS.SHIFTS' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/shifts-section/automatic-sign']" routerLinkActive="active">
            {{ 'MENU.SHIFTS_SECTIONS.AUTOMATIC_SIGN' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/shifts-section/shifts-assign']" routerLinkActive="active">
            {{ 'MENU.SHIFTS_SECTIONS.SHIFTS_ASSIGN' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/shifts-section/missing-days']" routerLinkActive="active">
            {{ 'MENU.SHIFTS_SECTIONS.MISSING_DAYS' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/shifts-section/timtran-lock']" routerLinkActive="active">
            {{ 'MENU.SHIFTS_SECTIONS.TIMTRAN_LOCK' | translate }}
          </a></li>
        </ul>
      </li>

      <!-- 7. الاجازات والمهام -->
      <li class="nav-item">
        <div [routerLink]="['/vacation-tasks']">

          <a class="nav-link" (click)="toggleSubmenu('leaves')" [class.expanded]="isSubmenuOpen('leaves')">
            <i class="fa fa fa-tasks"></i>
            <span>{{ 'MENU.VACATION_TASKS' | translate }}</span>
            <i class=" ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('leaves')">
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/attendance-status-classifications']"
              routerLinkActive="active">{{ 'MENU.VACATION_TASKS_SECTIONS.ATTENDANCE_STATUS_CLASSIFICATION' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/attendance-statuses']" routerLinkActive="active">
            {{ 'MENU.VACATION_TASKS_SECTIONS.ATTENDANCE_STATUSES' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/handle-statuses-priority']" routerLinkActive="active">
            {{ 'MENU.VACATION_TASKS_SECTIONS.STATUS_PRIORITY_ORDER' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/days-handle']" routerLinkActive="active">
            {{ 'MENU.VACATION_TASKS_SECTIONS.DAYS_HANDLE' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/handle-statuses-employee-balance']"
              routerLinkActive="active">{{ 'MENU.VACATION_TASKS_SECTIONS.EMPLOYEE_BALANCES' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/vacation-tasks/my-balance']" routerLinkActive="active">
            {{ 'MENU.VACATION_TASKS_SECTIONS.MY_BALANCE' | translate }}
          </a></li>
        </ul>
      </li>

      <!-- 8. الطلبات و الموافقات -->
      <li class="nav-item">
        <div [routerLink]="['/requests-and-approvals']">
          <a class="nav-link" (click)="toggleSubmenu('requests')" [class.expanded]="isSubmenuOpen('requests')">
            <i class="fas fa-check-square"></i>
            <span>{{ 'MENU.REQUESTS_APPROVALS' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('requests')">
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/steps-to-approve-changing-time']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.TIME_CHANGE_APPROVAL_STEPS' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/attendance-time-change-request']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.ATTENDANCE_TIME_CHANGE_REQUEST' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/post-request']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.POST_REQUEST' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/request-approval-route']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.REQUEST_APPROVAL_ROUTE' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/request-approval-vacations']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.REQUESTS_APPROVAL_VACATIONS' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/requests-and-approvals/delete-completed-request']" routerLinkActive="active">
            {{ 'MENU.REQUESTS_APPROVALS_SECTIONS.DELETE_COMPLETED_REQUESTS' | translate }}</a></li>
        </ul>
      </li>     
      
      <!-- 9. تتبع المواقع -->
      <li class="nav-item">
        <div [routerLink]="['/tracking-locations']">
          <a class="nav-link" (click)="toggleSubmenu('locations')" [class.expanded]="isSubmenuOpen('locations')">
            <i class="fa-solid fa-location-arrow"></i>
            <span class="ps-1">{{ 'MENU.TRACKING_LOCATIONS' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('locations')">
          <li><a class="nav-link" [routerLink]="['/tracking-locations/location-tracking-details']" routerLinkActive="active">
            {{ 'MENU.TRACKING_LOCATIONS_SECTIONS.LOCATION_TRACKING_DETAILS' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/tracking-locations/location-tracking-transactions']" routerLinkActive="active">
            {{ 'MENU.TRACKING_LOCATIONS_SECTIONS.LOCATION_TRACKING_TRANSACTIONS' | translate }}</a></li>
        </ul>
      </li>      
      
      <!-- 10. الجوال و التطبيق -->
      <li class="nav-item">
        <div [routerLink]="['/mobile-and-app']">
          <a class="nav-link" (click)="toggleSubmenu('mobile')" [class.expanded]="isSubmenuOpen('mobile')">
            <i class="fas fa-mobile-alt"></i>
            <span>{{ 'MENU.MOBILE_APP' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('mobile')">
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/mawjood-app']" routerLinkActive="active">
            {{ 'MENU.MOBILE_APP_SECTIONS.MAWJOOD_APP' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/send-app-qr-code']" routerLinkActive="active">
            {{ 'MENU.MOBILE_APP_SECTIONS.SEND_APP_QR_CODE' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/mobile-sign-location-assign']" routerLinkActive="active">
            {{ 'MENU.MOBILE_APP_SECTIONS.APP_DEVICES' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/mobile-sign-locations']" routerLinkActive="active">
           {{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_LOCATION_ASSIGN' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/mobile-sign-transaction']" routerLinkActive="active">
            {{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_TRANSACTION' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/mobile-and-app/mobile-sign-transaction']" routerLinkActive="active">
            {{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_LOCATIONS' | translate }}</a></li>
        </ul>
      </li>     
      
      <!-- 11. الرواتب -->
      <li class="nav-item">
        <div [routerLink]="['/salaries']">
          <a class="nav-link" (click)="toggleSubmenu('salaries')" [class.expanded]="isSubmenuOpen('salaries')">
            <i class="fas fa-money-bill-alt"></i>
            <span>{{ 'MENU.SALARIES' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('salaries')">
          <li><a class="nav-link" [routerLink]="['/salaries/salary-add-deducts']" routerLinkActive="active">
            {{ 'MENU.SALARIES_SECTIONS.SALARY_ADDONS_DEDUCTS_ASSIGN' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/salaries/salary-add-ons-deducts']" routerLinkActive="active">
            {{ 'MENU.SALARIES_SECTIONS.SALARY_ADDONS_DEDUCTS' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/salaries/salaries-calculation']" routerLinkActive="active">
            {{ 'MENU.SALARIES_SECTIONS.SALARIES_CALCULATION' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/salaries/my-salary']" routerLinkActive="active">
            {{ 'MENU.SALARIES_SECTIONS.MY_SALARY' | translate }}</a></li>
          <li><a class="nav-link" [routerLink]="['/salaries/salaries-details']" routerLinkActive="active">
            {{ 'MENU.SALARIES_SECTIONS.SALARIES_DETAILS' | translate }}</a></li>
        </ul>
      </li>
      <!-- 12. البيانات الاساسية -->
      <li class="nav-item">
        <div [routerLink]="['/primary-data']">
        <a class="nav-link" (click)="toggleSubmenu('basicData')" [class.expanded]="isSubmenuOpen('basicData')">
          <i class="fas fa-info"></i>
          <span>{{ 'MENU.PRIMARY_DATA' | translate }}</span>
          <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
        </a>
        </div>
        <ul class="ps-3 nav flex-column submenu" [class.show]="isSubmenuOpen('basicData')">
          <!-- 12.1 البيانات العامه -->
          <li>
            <div [routerLink]="['/primary-data/general-data']" routerLinkActive="active">
            <a class="pe-3 nav-link" (click)="toggleSubmenu('generalData')" [class.expanded]="isSubmenuOpen('generalData')">
              <i class="fas fa-database"></i>
              <span>{{ 'MENU.PRIMARY_DATA_SECTIONS.GENERAL_DATA' | translate }}</span>
              <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
            </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('generalData')">
              <li><a class="nav-link" [routerLink]="['/primary-data/branches']" routerLinkActive="active"><i class="fas fa-building"></i><span>{{ 'MENU.GENERAL_DATA.BRANCHES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/departments']" routerLinkActive="active"><i class="fas fa-sitemap"></i><span>{{ 'MENU.GENERAL_DATA.DEPARTMENTS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/employees']" routerLinkActive="active"><i class="fas fa-users"></i><span>{{ 'MENU.GENERAL_DATA.EMPLOYEES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/nationalities']" routerLinkActive="active"><i class="fas fa-flag"></i><span>{{ 'MENU.GENERAL_DATA.NATIONALITIES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/banks']" routerLinkActive="active"><i class="fas fa-university"></i><span>{{ 'MENU.GENERAL_DATA.BANKS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/cities']" routerLinkActive="active"><i class="fas fa-city"></i><span>{{ 'MENU.GENERAL_DATA.CITIES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/organization']" routerLinkActive="active"><i class="fas fa-user-graduate"></i><span>{{ 'MENU.GENERAL_DATA.ORGANIZATION' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/province']" routerLinkActive="active"><i class="fas fa-map-marker-alt"></i><span>{{ 'MENU.GENERAL_DATA.PROVINCE' | translate }}</span></a></li>
            </ul>
          </li>
          <!-- 12.2 بيانات موجود -->
          <li>
          <div [routerLink]="['/primary-data/mawjood-data']">
            <a class="pe-3 nav-link" (click)="toggleSubmenu('mawjoodData')" [class.expanded]="isSubmenuOpen('mawjoodData')">
              <i class="fas fa-file-alt"></i>
              <span>{{ 'MENU.PRIMARY_DATA_SECTIONS.MAWJOOD_DATA' | translate }}</span>
              <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
            </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('mawjoodData')">
              <li><a class="nav-link" [routerLink]="['/primary-data/employees-statuses']"><i class="fas fa-user-check"></i><span>{{ 'MENU.MAWJOOD_DATA_SECTIONS.EMPLOYEE_STATUSES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/jobs']"><i class="fas fa-briefcase"></i><span>{{ 'MENU.MAWJOOD_DATA_SECTIONS.JOBS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/employees-documents']"><i class="fas fa-file-signature"></i><span>{{ 'MENU.MAWJOOD_DATA_SECTIONS.EMPLOYEE_DOCUMENTS' | translate }}</span></a></li>
            </ul>
          </li>
          <!-- 12.3 بيانات الاتصالات الادارية -->
          <li>
            <div [routerLink]="['/primary-data/cts-data']">
              <a class="pe-3 nav-link" (click)="toggleSubmenu('ctsData')" [class.expanded]="isSubmenuOpen('ctsData')">
                <i class="fas fa-exchange-alt"></i>
                <span>{{ 'MENU.CTS_DATA.TITLE' | translate }}</span>
                <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
              </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('ctsData')">
              <li><a class="nav-link" [routerLink]="['/primary-data/action']"><i class="fas fa-tasks"></i><span>{{ 'MENU.CTS_DATA.ACTION' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/position']"><i class="fas fa-id-badge"></i><span>{{ 'MENU.CTS_DATA.POSITION' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/my-list']"><i class="fas fa-list"></i><span>{{ 'MENU.CTS_DATA.MY_LIST' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/document-template']"><i class="fas fa-file-alt"></i><span>{{ 'MENU.CTS_DATA.DOCUMENT_TEMPLATE' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/delivery-mode']"><i class="fas fa-truck"></i><span>{{ 'MENU.CTS_DATA.DELIVERY_MODE' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/document-type']"><i class="fas fa-file-contract"></i><span>{{ 'MENU.CTS_DATA.DOCUMENT_TYPE' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/keywords']"><i class="fas fa-key"></i><span>{{ 'MENU.CTS_DATA.KEYWORDS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/priority-level']"><i class="fas fa-exclamation"></i><span>{{ 'MENU.CTS_DATA.PRIORITY_LEVEL' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/security-level']"><i class="fas fa-shield-alt"></i><span>{{ 'MENU.CTS_DATA.SECURITY_LEVEL' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/subject-class']"><i class="fas fa-folder"></i><span>{{ 'MENU.CTS_DATA.SUBJECT_CLASS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/document-color']"><i class="fas fa-palette"></i><span>{{ 'MENU.CTS_DATA.DOCUMENT_COLOR' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/transaction-status']"><i class="fas fa-info-circle"></i><span>{{ 'MENU.CTS_DATA.TRANSACTION_STATUS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/urgency-level']"><i class="fas fa-bolt"></i><span>{{ 'MENU.CTS_DATA.URGENCY_LEVEL' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/approval-routes']"><i class="fas fa-route"></i><span>{{ 'MENU.CTS_DATA.APPROVAL_ROUTES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/all-data']"><i class="fas fa-search"></i><span>{{ 'MENU.CTS_DATA.ALL_DATA' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/parallel-document']"><i class="fas fa-random"></i><span>{{ 'MENU.CTS_DATA.PARALLEL_DOCUMENT' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/security-policy']"><i class="fas fa-lock"></i><span>{{ 'MENU.CTS_DATA.SECURITY_POLICY' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/masar-application']"><i class="fas fa-mobile-alt"></i><span>{{ 'MENU.CTS_DATA.MASAR_APPLICATION' | translate }}</span></a></li>
            </ul>
          </li>
          <!-- 12.4 بيانات المجالس و اللجان -->
          <li>
            <div [routerLink]="['/primary-data/committees-data']">
              <a class="pe-3 nav-link" (click)="toggleSubmenu('committeesData')" [class.expanded]="isSubmenuOpen('committeesData')">
                <i class="fas fa-users-cog"></i>
                <span>{{ 'MENU.COMMITTEES_DATA.TITLE' | translate }}</span>
                <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
              </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('committeesData')">
              <li><a class="nav-link" [routerLink]="['/primary-data/committees']"><i class="fas fa-chalkboard-teacher"></i><span>{{ 'MENU.COMMITTEES_DATA.COMMITTEES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/committee-members']"><i class="fas fa-user-friends"></i><span>{{ 'MENU.COMMITTEES_DATA.COMMITTEE_MEMBERS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/committee-invitations']"><i class="fas fa-envelope-open-text"></i><span>{{ 'MENU.COMMITTEES_DATA.COMMITTEE_INVITATIONS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/committee-route']"><i class="fas fa-route"></i><span>{{ 'MENU.COMMITTEES_DATA.COMMITTEE_ROUTE' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/committee-subject-classes']"><i class="fas fa-clipboard-list"></i><span>{{ 'MENU.COMMITTEES_DATA.COMMITTEE_SUBJECT_CLASSES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/voting-types']"><i class="fas fa-vote-yea"></i><span>{{ 'MENU.COMMITTEES_DATA.VOTING_TYPES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/primary-data/meeting-and-subjects']"><i class="fas fa-file-alt"></i><span>{{ 'MENU.COMMITTEES_DATA.MEETING_AND_SUBJECTS' | translate }}</span></a></li>
            </ul>
          </li>
        </ul>
      </li>      
      
      <!-- 13. الرسائل والاشعارات -->
      <li class="nav-item">
        <div [routerLink]="['/messages-and-notifications']">
          <a class="nav-link" (click)="toggleSubmenu('notifications')" [class.expanded]="isSubmenuOpen('notifications')">
            <i class="fas fa-envelope"></i>
            <span>{{ 'MENU.MESSAGES_NOTIFICATIONS' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="nav flex-column submenu" [class.show]="isSubmenuOpen('notifications')">
          <li><a class="nav-link" [routerLink]="['/messages-and-notifications/system-messages']" routerLinkActive="active">
            <i class="fas fa-message"></i>
            {{ 'MENU.MESSAGES_NOTIFICATIONS_SECTIONS.SYSTEM_MESSAGES' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/messages-and-notifications/notifications-text']" routerLinkActive="active">
            <i class="fas fa-bell-concierge"></i>
            {{ 'MENU.MESSAGES_NOTIFICATIONS_SECTIONS.NOTIFICATIONS_TEXTS' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/messages-and-notifications/news']" routerLinkActive="active">
            <i class="fas fa-newspaper"></i>
            {{ 'MENU.MESSAGES_NOTIFICATIONS_SECTIONS.NEWS' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/messages-and-notifications/send-notifications']" routerLinkActive="active">
            <i class="fas fa-paper-plane"></i>
            {{ 'MENU.MESSAGES_NOTIFICATIONS_SECTIONS.SEND_NOTIFICATIONS' | translate }}
          </a></li>
          <li><a class="nav-link" [routerLink]="['/messages-and-notifications/notifications-settings']" routerLinkActive="active">
            <i class="fas fa-gear"></i>
            {{ 'MENU.MESSAGES_NOTIFICATIONS_SECTIONS.NOTIFICATIONS_SETTINGS' | translate }}
          </a></li>
        </ul>
      </li>

      <!-- 14. ادارة الصلاحيات -->
      <li class="nav-item">
        <div [routerLink]="['/permission-managements']" routerLinkActive="active">
        <a class="nav-link" (click)="toggleSubmenu('permissions')" [class.expanded]="isSubmenuOpen('permissions')">
          <i class="fa-solid fa-users"></i>
          <span class="ps-1">{{ 'MENU.PERMISSION_MANAGEMENT.TITLE' | translate }}</span>
          <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
        </a>
        </div>
        <ul class="nav flex-column submenu" [class.show]="isSubmenuOpen('permissions')">
          <!-- 14.1 الصلاحيات علي النظام -->
          <li>
            <div [routerLink]="['/permission-managements/premissions-on-system']" routerLinkActive="active">
            <a class="pe-3 nav-link" (click)="toggleSubmenu('systemPermissions')"
              [class.expanded]="isSubmenuOpen('systemPermissions')">
              <i class="fas fa-shield-alt"></i>
              <span>{{ 'MENU.PERMISSION_MANAGEMENT.PERMISSIONS_ON_SYSTEM' | translate }}</span>
              <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
            </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('systemPermissions')">
              <li><a class="nav-link" [routerLink]="['/permission-managements/user-roles']"><i class="fas fa-user-tag"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.SYSTEM_PERMISSIONS.USER_ROLES' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/user-role-assignment']"><i class="fas fa-user-shield"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.SYSTEM_PERMISSIONS.USER_ROLE_ASSIGNMENTS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/role-chart-rights']"><i class="fas fa-chart-line"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.SYSTEM_PERMISSIONS.ROLE_CHART_RIGHTS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/role-module-rights']"><i class="fas fa-key"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.SYSTEM_PERMISSIONS.ROLE_MODULE_RIGHTS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/role-report-rights']"><i class="fas fa-file-alt"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.SYSTEM_PERMISSIONS.ROLE_REPORT_RIGHTS' | translate }}</span></a>
              </li>
            </ul>
          </li>
          <!-- 14.2 عناصر النظام الاساسي -->
          <li>
            <div [routerLink]="['/permission-managements/basic-system-items']" routerLinkActive="active">
            <a class="pe-3 nav-link" (click)="toggleSubmenu('systemElements')"
              [class.expanded]="isSubmenuOpen('systemElements')">
              <i class="fas fa-cogs"></i>
              <span>{{ 'MENU.PERMISSION_MANAGEMENT.BASIC_SYSTEM_ITEMS' | translate }}</span>
              <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
            </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('systemElements')">
              <li><a class="nav-link" [routerLink]="['/permission-managements/charts-list']"><i class="fas fa-chart-line"></i>{{ 'MENU.PERMISSION_MANAGEMENT.BASIC_SYSTEM.CHARTS_LIST' | translate }}</a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/report-list']"><i class="fas fa-file-alt"></i>{{ 'MENU.PERMISSION_MANAGEMENT.BASIC_SYSTEM.REPORTS_LIST' | translate }}</a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/system-menus']"><i class="fas fa-list"></i>{{ 'MENU.PERMISSION_MANAGEMENT.BASIC_SYSTEM.SYSTEM_MENUS' | translate }}</a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/system-modules']"><i class="fas fa-th"></i>{{ 'MENU.PERMISSION_MANAGEMENT.BASIC_SYSTEM.SYSTEM_MODULES' | translate }}</a></li>
            </ul>
          </li>
          <!-- 14.3 الصلاحيات علي البيانات -->
          <li>
            <div [routerLink]="['/permission-managements/permission-on-data']" routerLinkActive="active">
            <a class="pe-3 nav-link" (click)="toggleSubmenu('dataPermissions')"
              [class.expanded]="isSubmenuOpen('dataPermissions')">
              <i class="fas fa-key"></i>
              <span>{{ 'MENU.PERMISSION_MANAGEMENT.PERMISSIONS_ON_DATA' | translate }}</span>
              <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
            </a>
            </div>
            <ul class="nav flex-column nested-submenu" [class.show]="isSubmenuOpen('dataPermissions')">
              <li><a class="nav-link" [routerLink]="['/permission-managements/access-permissions']"><i class="fas fa-key"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.DATA_PERMISSIONS.ACCESS_PERMISSIONS' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/access-permissions-summary']"><i class="fas fa-clipboard-list"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.DATA_PERMISSIONS.ACCESS_PERMISSIONS_SUMMARY' | translate }}</span></a></li>
              <li><a class="nav-link" [routerLink]="['/permission-managements/request-post-premisions']"><i class="fas fa-paper-plane"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.DATA_PERMISSIONS.REQUEST_POST_PERMISSIONS' | translate }}</span></a></li>
              <li><a class="nav-link"  [routerLink]="['/permission-managements/permissions-delegations']"><i class="fas fa-user-friends"></i><span>{{ 'MENU.PERMISSION_MANAGEMENT.DATA_PERMISSIONS.PERMISSIONS_DELEGATIONS' | translate }}</span></a></li>
            </ul>
          </li>
        </ul>
      </li>     
      
      <!-- 15. التدقيق و المتابعة -->
      <li class="nav-item">
        <div [routerLink]="['/audit-and-tracing']" routerLinkActive="active">
        <a class="nav-link" (click)="toggleSubmenu('audit')" [class.expanded]="isSubmenuOpen('audit')">
          <i class="fa-regular fa-rectangle-list"></i>
          <span class="ps-1">{{ 'MENU.AUDIT_TRACING' | translate }}</span>
          <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
        </a>
        </div>
        <ul class="nav flex-column submenu" [class.show]="isSubmenuOpen('audit')">
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/track-changes']" routerLinkActive="active">
            <i class="fas fa-history"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.TRACK_OPEN_DOCUMENT' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/login-trace']" routerLinkActive="active">
            <i class="fas fa-sign-in-alt"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.TRACK_OPEN_DOCUMENT_TRANSACTION' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/error-logs']" routerLinkActive="active">
            <i class="fas fa-exclamation-triangle"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.TRACK_CHANGES' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/tables-trace-settings']" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.LOGIN_TRACE' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/tables-trace-settings']" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.ERROR_LOGS' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/tables-trace-settings']" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.TABLES_TRACE_SETTINGS' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/tables-trace-settings']" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.WATERMARK_TRACING' | translate }}</span>
          </a></li>
          <li><a class="nav-link" [routerLink]="['/audit-and-tracing/tables-trace-settings']" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span>{{ 'MENU.AUDIT_TRACING_SECTIONS.TRACE_PARALLEL_DOCUMENT' | translate }}</span>
          </a></li>
        </ul>
      </li>

      <!-- 16. ادارة النظام -->
      <li class="nav-item">
        <div [routerLink]="['/system-management']">
          <a class="nav-link" (click)="toggleSubmenu('systemManagement')" [class.expanded]="isSubmenuOpen('systemManagement')">
            <i class="fas fa-cogs"></i>
            <span>{{ 'MENU.SYSTEM_MANAGEMENT' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="nav flex-column submenu" [class.show]="isSubmenuOpen('systemManagement')">
          <li>
            <a class="nav-link" [routerLink]="['/system-management/system-setup']" routerLinkActive="active">
              <i class="fas fa-sliders-h"></i>
              <span>{{ 'MENU.SYSTEM_MANAGEMENT_SECTIONS.SYSTEM_SETUP' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/system-management/hijri-data']" routerLinkActive="active">
              <i class="fas fa-calendar-alt"></i>
              <span>{{ 'MENU.SYSTEM_MANAGEMENT_SECTIONS.HIJRI_DATE_DATA' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/system-management/language-data']" routerLinkActive="active">
              <i class="fas fa-language"></i>
              <span>{{ 'MENU.SYSTEM_MANAGEMENT_SECTIONS.LANGUAGE_DATA' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/system-management/user-profile']" routerLinkActive="active">
              <i class="fas fa-user-circle"></i>
              <span>{{ 'MENU.SYSTEM_MANAGEMENT_SECTIONS.USER_PROFILE' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/system-management/sessions-management']" routerLinkActive="active">
              <i class="fas fa-clock"></i>
              <span>{{ 'MENU.SYSTEM_MANAGEMENT_SECTIONS.SESSIONS_MANAGEMENT' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- 17. الرقابه -->
      <li class="nav-item">
        <div [routerLink]="['/consorship']">
          <a class="nav-link" (click)="toggleSubmenu('supervision')" [class.expanded]="isSubmenuOpen('supervision')">
            <i class="fas fa-shield-alt"></i>
            <span>{{ 'MENU.CONSORSHIP' | translate }}</span>
            <i class="ms-auto fas fa-chevron-down submenu-arrow"></i>
          </a>
        </div>
        <ul class="nav flex-column submenu" [class.show]="isSubmenuOpen('supervision')">
          <li>
            <a class="nav-link" [routerLink]="['/consorship/tour-available']" routerLinkActive="active">
              <i class="fas fa-check-circle"></i>
              <span>{{ 'MENU.CONSORSHIP_SECTIONS.CENSORSHIP_TOUR' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/consorship/tour-unavailable']" routerLinkActive="active">
              <i class="fas fa-times-circle"></i>
              <span>{{ 'MENU.CONSORSHIP_SECTIONS.CENSORSHIP_TOUR' | translate }}</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/consorship/alarms']" routerLinkActive="active">
              <i class="fas fa-bell"></i>
              <span>{{ 'MENU.CONSORSHIP_SECTIONS.ALARMS' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="sidebar-overlay" *ngIf="sidebarService.isExpanded$ | async" (click)="sidebarService.collapse()"></div>
</div>