<div class="cards-container">
  <!-- Tour Available Card -->
  <a [routerLink]="['/consorship/tour-available']" class="card tour-available" *ngIf="hasPermission(230)">
    <div class="icon-container">
      <i class="fas fa-check-circle"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.CONSORSHIP_SECTIONS.CENSORSHIP_TOUR' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Tour Unavailable Card -->
  <a [routerLink]="['/consorship/tour-unavailable']" class="card tour-unavailable" *ngIf="hasPermission(232)">
    <div class="icon-container">
      <i class="fas fa-times-circle"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.CONSORSHIP_SECTIONS.CENSORSHIP_TOUR' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Alarms Card -->
  <a [routerLink]="['/consorship/alarms']" class="card alarms" *ngIf="hasPermission(233)">
    <div class="icon-container">
      <i class="fas fa-bell"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.CONSORSHIP_SECTIONS.ALARMS' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>
</div>
