<div class="cards-container">
  <!-- Mawjood App Card -->
  <a [routerLink]="['mawjood-app']" class="card mawjood-app" *ngIf="hasAnyChildPermission([2, 133])">
    <div class="icon-container">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.MAWJOOD_APP' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Send App QR Code Card -->
  <a [routerLink]="['send-app-qr-code']" class="card qr-code" *ngIf="hasPermission(13)">
    <div class="icon-container">
      <i class="fas fa-qrcode"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.SEND_APP_QR_CODE' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- App Devices Card -->
  <a [routerLink]="['app-devices']" class="card app-devices" *ngIf="hasPermission(29)">
    <div class="icon-container">
      <i class="fas fa-tablet-alt"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.APP_DEVICES' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Mobile Sign Location Assign Card -->
  <a [routerLink]="['mobile-sign-location-assign']" class="card location-assign" *ngIf="hasPermission(122)">
    <div class="icon-container">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_LOCATION_ASSIGN' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Mobile Sign Transaction Card -->
  <a [routerLink]="['mobile-sign-transaction']" class="card sign-transaction" *ngIf="hasPermission(130)">
    <div class="icon-container">
      <i class="fas fa-exchange-alt"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_TRANSACTION' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>

  <!-- Mobile Sign Locations Card -->
  <a [routerLink]="['mobile-sign-locations']" class="card sign-locations" *ngIf="hasPermission(96)">
    <div class="icon-container">
      <i class="fas fa-location-arrow"></i>
    </div>
    <h2 class="card-title">{{ 'MENU.MOBILE_APP_SECTIONS.MOBILE_SIGN_LOCATIONS' | translate }}</h2>
    <div class="visit-indicator">
      <i class="fa-solid fa-eye"></i>
      <span>{{ 'VISIT' | translate }}</span>
    </div>
  </a>
</div>
