<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">


        <!-- Right side buttons -->
        <div class="d-flex align-items-center">
            <!-- Toggle Button for mobile -->
            <button class="btn sidebar-toggle d-md-none ms-2" type="button" (click)="toggleSidebar()"
                aria-label="Toggle Sidebar">
                <i class="fas" [class.fa-times]="(sidebarService.isExpanded$ | async)"
                    [class.fa-bars]="!(sidebarService.isExpanded$ | async)" aria-hidden="true"></i>
            </button>

            <!-- Toggle Button for desktop -->
            <button class="btn sidebar-toggle d-none d-md-block" type="button" (click)="toggleSidebar()"
                aria-label="Toggle Sidebar">
                <i class="fas fa-bars" aria-hidden="true"></i>
            </button>
        </div>

                <!-- Left side items -->
        <ul class="navbar-nav align-items-center flex-row">
            <!-- Profile Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="user-name"> ابراهيم رباح</span>
                    <i class="fa-regular fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link d-flex align-items-center" href="#">
                        <span>{{ 'PROFILE.PROFILE' | translate }}</span> <i class="fas fa-user"></i></a></li>
                    <li><a class="nav-link d-flex align-items-center" (click)="switchLanguage()">
                        <span>{{ getCurrentLang() === 'ar' ? 'English' : 'عربي' }}</span> 
                        <i class="fa-regular fas fa-globe"></i></a></li>
                    <li>
                    </li>
                    <li><a class="nav-link d-flex align-items-center" (click)="logout()">
                        <span>{{ 'PROFILE.LOGOUT' | translate }}</span> <i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </li>
            <!-- Help/About Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-circle-question"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link d-flex align-items-center" href="#">
                        <span>{{ 'HELP.HELP_PAGE' | translate }}</span> <i class="fas fa-question-circle"></i></a></li>
                    <li><a class="nav-link d-flex align-items-center" href="#">
                        <span>{{ 'HELP.ABOUT_SYSTEM' | translate }}</span> <i class="fas fa-info-circle"></i></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-regular fa-comment"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>