.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 45px;
}

.main-content:not(.authenticated) {
  padding: 0;
  min-height: 100vh;
}

/* RTL Support */
:host-context([dir="rtl"]) .main-content {
  margin-right: 0;
  margin-left: 0;
}

/* For larger screens */
@media (min-width: 769px) {
  /* LTR */
  :host-context([dir="ltr"]) .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  :host-context([dir="ltr"]) .sidebar-expanded .main-content {
    margin-left: 350px;
    width: calc(100% - 350px);
  }

  /* RTL */
  :host-context([dir="rtl"]) .main-content {
    margin-right: 60px;
    width: calc(100% - 60px);
  }

  :host-context([dir="rtl"]) .sidebar-expanded .main-content {
    margin-right: 350px;
    width: calc(100% - 350px);
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .sidebar-expanded .main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}