<div class="app-container" [class.sidebar-expanded]="sidebarService.isExpanded$ | async">
  <!-- Authenticated user view -->
  <ng-container *ngIf="isAuthenticated">
    <app-navbar></app-navbar>
    <main class="main-content main-background authenticated">
      <div class="container">
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
      </div>
    </main>
    <app-footer></app-footer>
  </ng-container>
  
  <!-- Non-authenticated user view (login/register only) -->
  <ng-container *ngIf="!isAuthenticated">
  
      <router-outlet></router-outlet>
  
  </ng-container>
</div>
