<div class="cards-container"> <!-- General Data Card -->
    <a [routerLink]="['general-data']" class="card general-data" *ngIf="hasAnyChildPermission([53, 75, 83, 128, 106, 156, 160, 164])">
        <div class="icon-container">
            <i class="fas fa-database"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.PRIMARY_DATA_SECTIONS.GENERAL_DATA' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'VISIT' | translate }}</span>
        </div>
    </a>

    <!-- Mawjood Data Card -->
    <a [routerLink]="['mawjood-data']" class="card mawjood-data" *ngIf="hasAnyChildPermission([95, 104, 107])">
        <div class="icon-container">
            <i class="fas fa-fingerprint"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.PRIMARY_DATA_SECTIONS.MAWJOOD_DATA' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'VISIT' | translate }}</span>
        </div>
    </a>

    <!-- CTS Data Card -->
    <a [routerLink]="['cts-data']" class="card cts-data" *ngIf="hasAnyChildPermission([151, 153, 155, 157, 158, 159, 161, 163, 165, 166, 167, 168, 169, 170, 253, 263, 269, 279])">
        <div class="icon-container">
            <i class="fas fa-envelope"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.CTS_DATA.TITLE' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'VISIT' | translate }}</span>
        </div>
    </a>

    <!-- Committees Data Card -->
    <a [routerLink]="['committees-data']" class="card committees-data" *ngIf="hasAnyChildPermission([188, 195, 187, 196, 197, 198, 211])">
        <div class="icon-container">
            <i class="fas fa-users"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.COMMITTEES_DATA.TITLE' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'VISIT' | translate }}</span>
        </div>
    </a>
</div>