<div class="cards-container">
    <!-- Salary Add Deducts Card -->
    <a [routerLink]="['/salaries/salary-add-deducts']" class="card salary-add-deducts" *ngIf="hasPermission(103)">
        <div class="icon-container">
            <i class="fas fa-plus-circle"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.SALARIES_SECTION_ADD_DEDUCTS_ASSIGN' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'MENU.VISIT' | translate }}</span>
        </div>
    </a>

    <!-- Salary Add-ons Deducts Card -->
    <a [routerLink]="['/salaries/salary-add-ons-deducts']" class="card salary-add-ons-deducts" *ngIf="hasPermission(105)">
        <div class="icon-container">
            <i class="fas fa-calculator"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.SALARIES_SECTION_ADD_ONS_DEDUCTS' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'MENU.VISIT' | translate }}</span>
        </div>
    </a>

    <!-- Salaries Calculation Card -->
    <a [routerLink]="['/salaries/salaries-calculation']" class="card salaries-calculation" *ngIf="hasPermission(119)">
        <div class="icon-container">
            <i class="fas fa-chart-line"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.SALARIES_SECTION_CALCULATION' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'MENU.VISIT' | translate }}</span>
        </div>
    </a>

    <!-- My Salary Card -->
    <a [routerLink]="['/salaries/my-salary']" class="card my-salary" *ngIf="hasPermission(131)">
        <div class="icon-container">
            <i class="fas fa-user-circle"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.SALARIES_SECTION_MY_SALARY' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'MENU.VISIT' | translate }}</span>
        </div>
    </a>

    <!-- Salaries Details Card -->
    <a [routerLink]="['/salaries/salaries-details']" class="card salaries-details" *ngIf="hasPermission(120)">
        <div class="icon-container">
            <i class="fas fa-file-invoice-dollar"></i>
        </div>
        <h2 class="card-title">{{ 'MENU.SALARIES_SECTION_DETAILS' | translate }}</h2>
        <div class="visit-indicator">
            <i class="fa-solid fa-eye"></i>
            <span>{{ 'VISIT' | translate }}</span>
        </div>
    </a>
</div>
